/*  src/Title.css  */
.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(192, 45, 26);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  margin-bottom: 2em;
}

.Title {
  /* padding: 1em; */
  margin: .3em;
  font-size:xx-large;
}

.Title-Subtitle {
  
  font-size: medium;

}

.nav {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
  margin-top: 1.3em;
}

.Header .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}